<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="TestSuite">
  <test name="WebTest" >
    <classes>
       <class name="com.test.QADemo.TestCases.WebTest"/>
    </classes>
  </test>
  
  <test name="ApiTest" >
    <classes>
       <class name="com.test.QADemo.TestCases.ApiTest"/>
    </classes>
  </test>
</suite>
